.slider-contain {
  margin-top: 65px;
}

.slider-contain img {
  height: 500px;
}

@media screen and (max-width: 800px) {
  .slider-contain img {
    height: auto;
  }
}

@media screen and (max-width: 660px) {
  .slider-contain img {
    height: 320px;
  }
}
